/* Fonts */
@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-Bold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-SemiBold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'IBM-Plex-Sans';
    src: url('../fonts/IBMPlexSans-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

/* fonts end */

/* Global properties */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'IBM-Plex-Sans';
}

/* Global end*/

/*Header*/

.blok {
    background-image: url(../image/Backgroound_Picture.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.blok::after {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0;
    border-bottom: 160px solid #fff;
    border-left: 1450px solid transparent;
}

.header-container {
    max-width: 17984px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    width: 100%;
    Height: 657px;
}

.navigation {
    display: flex;
}

.blok__coll {
    margin: 51px 0px 0px 0;
}

.menu__list {
    font-size: 12px;
    padding: 41px 0px 0px 44px;
}

.blok__address {
    margin-right: 51px;
}

.blok__title {
    margin-right: 48px;
}

.blok__tel {
    margin-right: 51px;
    margin-top: 6px;
}

.call {
    padding: 0 0px 0 6px;
    color: #333;
    font-size: 12px;
    display: inline-block;
}

.blok__call {
    margin-left: 2px;
    margin-right: 47px;
    background: #fff;
    padding: 0px 4px 0 6px;
    border-radius: 4px;
    border: 2px solid #fff;
    text-decoration: none;
}

.blok__call svg {
    fill: #333;
    display: inline-block;
}

.blok__call:hover path {
    fill: #fff;
}

.block01__lng-wrap {
    position: relative;
    display: inline-block;
    position: relative;
    display: inline-block;
    left: 71px;
}

.block01__lng {
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.block01__lng svg {
    fill: #fff;
    transition: 0.2s;
    display: inline-block;
    vertical-align: middle;
}

.blok__call:hover {
    border-color: #fff;
    background: #A3CC40;
}

.block-svg path:hover {
    fill: #fff;
}

.blok__call:hover span {
    color: #fff;
}

.block01__dropdown {
    position: absolute;
    width: 23px;
    height: 46px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    background: #666;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translate(100%);
}

.block01__dropdown a {
    display: table;
    color: #fff;
    font-size: 12px;
    padding: 4px;
    text-decoration: none;
}

.block01__lng-wrap:hover .block01__dropdown {
    visibility: visible;
    opacity: 1;
}

.block01__lng-wrap:hover .block01__lng svg {
    transform: rotate(180deg);
}

.blok__ul li {
    display: inline-block;
    margin-right: 32px;
    padding-top: 14px;
}

.blok__main {
    text-align: center;
}

.blok__h1 {
    font-weight: 100;
    font-size: 68px;
    line-height: 88px;
    text-align: center;
    letter-spacing: 0px;
    color: #fff;
    margin-top: 130px;
}

.blok__h2 {
    color: white;
    font-size: 41px;
    font-weight: 400;
    margin-top: 17px;
}

.blok__nav {
    font-size: 12px;
    margin-left: 45px;
}

.welcome {
    position: absolute;
    border: 1px solid white;
    background: white;
    color: rgb(8, 8, 8);
    border-radius: 10px;
    box-shadow: 0px 27px 39px rgb(163 204 64 / 18%);
    padding: 30px 47px;
    margin-left: 473px;
    top: 525px;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    vertical-align: text-top;
    max-width: 426px;
}

.welcome__text {
    font-size: 11px;
    line-height: 14px;
}

.welcome__title {
    font-size: 33px;
    font-weight: 600;
    margin-bottom: 22px;
    line-height: 43px;
}

/* haeder end */

/* Почему мы */
#whyus {
    font-size: 28px;
    margin-top: 41px;
    margin-left: 51px;
}

.section__title {
    color: #A3CC40;
    font-size: 48px;
    font-weight: 500;
}

.section__heading {
    color: #A3CC40;
    font-size: 48px;
    font-weight: 500;
}

.section_text {
    font-size: 11px;
}

.content-text {
    align-items: center;
    margin-bottom: 2px;
}

.party {
    display: flex;
    margin-top: 12px;
}

.party2 {
    display: flex;
    margin-top: -17px;
}

.convenience {
    margin-right: 55px;
    margin-top: 71px;
    width: 245px;
    text-align: center;
}

.img:hover {
    transform: scale(1.07);
}

.menu_bar {
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    line-height: 14.3px;
}

.why_card_text {
    margin: 28px 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: Center;
    margin-bottom: 24px;
}

/* end Почему мы */

/*  table */

.film {
    margin-top: 171px;
    margin-left: 49px;
}

.film__heading {
    color: #A3CC40;
    font-size: 48px;
    font-weight: 500;
    margin-left: -3px;
}

.table {
    border-collapse: collapse;
    width: 849px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    color: white;
    text-align: left;
    font-size: 14px;
    margin-top: 82px;
}

.table th {
    background-color: #A3CC40;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.head_tb th {
    background: #A3CC40;
    border: none;
}

.table__row {
    width: 80px;
    line-height: 18.2px;
    height: 45px;
    padding: 0 24px;
    box-sizing: border-box;
}

.table__cell-head {
    color: white;
    width: 236px;
}

.table__wrapper {
    display: flex;
    align-items: center;
}

.table__film {
    color: white;
    margin-right: 5px;
    text-decoration: none;
}

.table__film svg {
    margin: 5px 0 0 6px;
}

.table__film-svg {
    margin-top: 2px;
}

.table_header {
    width: 849px;
    border-radius: 90px;
    margin: 50px 50px 50px 50px;
}


.table_header tr {
    background: #373737;
    height: 45px;
}

.two {
    background-color: #373737;
}

.table tr:nth-child(odd) {
    background-color: #4D4C4F;
}

.film__text {
    text-align: center;
    margin-right: 47px;
    margin-top: 31px;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
}

.film__text::before {
    content: '';
    display: block;
    min-width: 208px;
    overflow: hidden;
}

/*  table end */

/*  Подарок каждому! */

.present {
    background: url(../image/7.png) no-repeat center/cover;
    max-width: 100%;
    height: 631px;
    padding: 0 139px;
    margin-bottom: 1px;
}

.present::after {
    content: '';
    position: absolute;
    top: 2700px;
    right: 0;
    border-bottom: 145px solid #fff;
    border-left: 100vw solid transparent;
}

.present::before {
    content: '';
    position: absolute;
    top: 2181px;
    right: 0;
    border-top: 211px solid #fff;
    border-right: 100vw solid transparent;
}

.present__imbem {
    align-items: center;
    height: 275px;
    width: 276px;
    position: absolute;
    border-radius: 100%;
    bottom: 215px;
    left: 50px;
}

.present__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    text-align: right;
    margin-bottom: 30px;
    margin-left: auto;
    max-width: 548px;
}


.present__content {
    position: relative;
    padding-top: 162px;
    color: white;
    text-align: end;
    margin-top: 63px;
    font-size: 11px;
    margin-right: 45px;
}

.present__heading {
    color: #fff;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 38px;
    margin-left: auto;
}

.text {
    font-size: 14px;
}

.present__button {
    padding: 7px 36px 6px 36px;
    background-color: #A3CC40;
    color: white;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
}

/* Подарок каждому! end */

/* Фильмы */
.film__img .film__p {
    transition: 0.3s;
    left: 0;
}

.cinema__heading {
    color: #A3CC40;
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2.25rem;
}

.section__commit {
    font-size: 0.6875rem;
    margin-bottom: 4.25rem;
    margin-top: 1.625rem;
}

.section__text {
    font-size: 0.6875rem;
    line-height: 0.875rem;
}

.film__img {
    width: 17.6875rem;
    position: relative;
    overflow: hidden;
    display: block;
}

.film__img::after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(22, 22, 22, 0.8);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    transition: 0.3s;
}

.film__img:hover::after {
    background: transparent;
    transition: 0.3s;
}

.film__img:hover .film__p {
    bottom: 0;
    color: white;
}

.film__img img {
    display: flex;
    width: 100%;
    height: 17.6875rem;
}

.film__p {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(144, 210, 61, 0.4);
    box-sizing: border-box;
    transition: 0.3s;
    z-index: 1;
    padding: 1.0625rem 1.375rem;
}

.film__cards {
    display: flex;
}

.cinema__title {
    margin-bottom: 1.25rem;
    color: white;
    font-weight: 600;
    font-size: 1.8125rem;
    line-height: 2.375rem;
}

.cinema__text {
    color: white;
    font-size: 0.6875rem;
    font-weight: 400;
    font-size: 0.6875rem;
    line-height: 0.875rem;
}

/* Фильмы end */
/* goods */
.goods {
    margin-left: 185px;
}

.goods__heading {
    padding: 40px;
    margin: 33px 0 0 -82px;
    float: none;
    color: #A3CC40;
    font-size: 48px;
    font-weight: 500;
}

.goods__text {
    margin: -13px 0 58px -42px;
    font-size: 11px;
}

.card__box {
    display: flex;
    justify-content: space-evenly;
    margin-left: -76px;
}

.card {
    width: 245px;
    height: 331px;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 55px;

}

.card_two {
    Width: 245px;
    Height: 331px;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 55px;
}

.card_three {
    Width: 245px;
    Height: 331px;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    margin-right: 55px;
}

.card__img {
    Width: 245px;
    Height: 331px;
}
/* 
.card__hover {
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background: #A3CC40CC;
    clip-path: polygon(0 30%, 100% 0%, 100% 100%, 0% 100%);
    width: 99%;
    padding-top: 70px;
    height: 153px;
    border-radius: 10px;
    bottom: 7px;
    margin: 0 0 0 2px;
} */

/* goods end */

/* Отзывы */

.reviews__heading {
    color: #A3CC40;
    font-size: 48px;
    font-weight: 500;
    margin: 116px 0 26PX 51px;
}

.reviews__text {
    font-size: 11px;
    color: white;
    margin-left: 52px;
}

#reviews {
    background: url(../image/black__photo.png) no-repeat center/cover;
    border: 1px solid white;
    Height: 746px;
    padding: 40px;
    margin-top: 17px;
}

#reviews::after {
    content: '';
    position: absolute;
    top: 5246px;
    right: 0;
    border-bottom: 113px solid #fff;
    border-left: 104vw solid transparent;
}

#reviews::before {
    content: '';
    position: absolute;
    top: 4509px;
    right: 0;
    border-top: 145px solid #fff;
    border-right: 100vw solid transparent;
}

.section__photo {
    display: flex;
    margin-left: 54px;
}

.section__photo_text {
    font-weight: 300;
    font-size: 8px;
    line-height: 10px;
    margin: 12px 0 0 158px;
}

.section__photo-text {
    font-weight: 300;
    font-size: 9px;
    line-height: 12px;
    margin: 31px 0 0 185px;
}

.photo__middle {
    display: inline-block;
    background-color: yellowgreen;
    color: yellowgreen;
    width: 245.56px;
    height: 332px;
    color: white;
    border-radius: 9px;
    margin: 76px 89px 0 0px;
}

.customers__1mg {
    width: 245.56px;
    height: 178.54px;
}

.photo {
    display: inline-block;
    background-color: yellowgreen;
    color: yellowgreen;
    width: 210px;
    height: 284px;
    color: white;
    border-radius: 9px;
    margin: 100px 89px 0 0px;
}

.photo img {
    width: 210px;
    height: 152.73px;
    display: flex;
}

.photo h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
    margin: 14px 22px 0 16px;
}

.photo p {
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #FFFFFF;
    vertical-align: text-top;
    width: 171px;
    height: 52px;
    margin: -7px 22px 0 17px;
}

.photo__middle h4 {
    width: 220.4px;
    height: 23.02px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    margin: 14px 8px 0 17px;
}

.photo__middle p {
    width: 220.4px;
    height: 42.03px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 14px;
    color: #FFFFFF;
    margin: -2px 9px 0 17px;
}

/* Отзывы end */

/* Обратная связь */

.form__section {
    display: flex;
    padding: 40px;
    margin-left: 45px;
}

.img_back {
    background: url(../image/kino.png)no-repeat center/cover;
    width: 414px;
    height: 527px;
    border-radius: 20px 0 0 20px;
}

.img_back img {
    width: 100%;
    height: 100%;
}

.tx-form {
    font-weight: 500;
    font-size: 25px;
    line-height: 32px;
    margin: 32px 52px 0 auto;
}

form {
    border-radius: 9px;
    padding-right: 41px;
    max-width: 368px;
    font-size: 14px;
    color: #A3CC40;
    text-align: center;
    box-shadow: 72px 25px 39px rgb(181 185 185 / 37%);
}

.feedback__select-wraper {
    position: relative;
    background: #DEDEDE;
    border-radius: 5px;
    width: 344px;
    margin-left: -34px;
}

.feedback__select-wraper svg {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.option_form {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    margin-left: -32px;
    width: 100%;
    height: 40px;
    padding-left: 33px;
    border: none;
    color: #A1A1A1;
    outline: none;
    transition: 0.5s;
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.option_form::-ms-expand {
    display: none;
}

.option_form:hover {
    border: 3px solid #AAF34D85;
    background: #fff;
    transition: 0.5s;
}

.comment {
    resize: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;

}

.wrap {
    max-width: 300px;
    margin: 30px;
}

.full_name:hover {
    border: 3px solid #AAF34D85;
    background: #fff;
    transition: 0.5s;
}

.email {
    width: 330px;
    height: 40px;
    padding-left: 15px;
    border: none;
    color: #A1A1A1;
    background: #DEDEDE;
    border-radius: 5px;
    outline: none;
}

.full_name {
    color: #A1A1A1;
    width: 326px;
    height: 35px;
    outline: none;
    background: #DEDEDE;
    border: 3px solid transparent;
    border-radius: 5px;
    padding-left: 12px;
    margin-top: 19px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 32px;
    transition: 0.5s;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    margin-left: -33px;
}

.full_name::placeholder {
    color: #A1A1A1;
}

.full_name2 {
    color: #A1A1A1;
    width: 314px;
    height: 40px;
    outline: none;
    background: #DEDEDE;
    border: 3px solid transparent;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 62px;
    padding-top: 12px;
    margin-top: 30px;
    margin-left: -33px;
    display: flex;
    align-items: flex-start;
    transition: 0.5s;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
}

.full_name2:hover {
    border: 3px solid #AAF34D85;
    background: #fff;
    transition: 0.5s;
}

.full_name2::placeholder {
    color: #A1A1A1;
}

.bt1 {
    border: none;
    padding: 16px 136px 16px 136px;
    background: #A3CC40;
    border-radius: 5px;
    color: white;
    font-size: 28px;
    margin-top: 90px;
    margin-left: -34px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
}

.chek__box {
    cursor: pointer;
    color: #333333;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    position: absolute;
    margin-top: 29px;
    margin-left: -39px;
}

.chek__box input {
    display: none;
}

.chek__box input:checked+span:before {
    background: tomato;
}

.chek__box span {
    padding-left: 30px;
    position: relative;
}

.chek__box span::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #A3CC40;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 6px;
    border-radius: 6px;
}

/* Обратная связь  end*/

/* Map */
/* Map  end*/

/* footer */

.footer {
    background: #A3CC40;
    color: white;
    padding: 50px;
}

.footer__link {
    color: white;
}

.footer__contact {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.innopolis__logo {
    Width: 161px;
    Height: 41px;
    position: relative;
    margin-top: 27px;
    margin-bottom: 10px;
}

.text2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.innopolis__img {
    height: auto;
}

img {
    width: 245px;
    height: 169px;
}

#site {
    margin: 28px 120px 0px 0px;
}

.site {
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.site__title {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.site__link {
    color: white;
    text-decoration: none;
    bottom: 84px;
    list-style: none;
}

#contact {
    list-style: none;
    margin: 28px 157px 0 0;
}

.contact {
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

.contact__title {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.contact__link {
    color: white;
    text-decoration: none;
}

.page {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    margin: 39px 0 0 75px;
}

ul {
    list-style: none;
}

.what {
    color: #A3CC40;
}

.chek {
    display: flex;
    margin: 28px;
}

.chek p {
    margin-left: 6px;
    font-size: 12px;
}

.footer__text {
    width: 436px;
    height: 39px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    margin: 28px 0 0 5px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
}


/* social */

.social {
    margin: 10px 0 0 -16px;
    display: flex;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 17px;
    text-decoration: none;
    background-color: #BEE956;
    border-radius: 100%;
    overflow: hidden;
    text-align: center;
}

.social__linkedin {
    margin-bottom: 3px;
}

/* social end */

/* footer end */