
*{
    box-sizing: border-box;
}

.text{
    background: orange;
    padding: 50px;
    position: relative;
    overflow: hidden;
}

.text__inner{
    position: relative;
    z-index: 2;
}

.text::before{
    content: '';
    display: block;
    height: 0;
    width: 0;
    border-top: 150px solid #fff;
    border-right: 100vw solid transparent;
    position: absolute;
    left: 0;
    top: 0;
}

.checkbox{
    font-size: 30px;
    cursor: pointer;
}

.checkbox input{
    display: none;
}
.checkbox input:checked+span::before{
    background: tomato;

}
.checkbox span{
    padding-left: 30px;
    position: relative;
}

.checkbox span::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid green;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

/* тз-7 */

/* 
.text-selectors{
    border: 1px solid red;
}

.text-selectors p{
    border: inherit;
    font-size: 9px;
}

.text-selectors h1{
    text-align: center;
} */
/* Другой спосиб */

#text{
    border: 1px solid red;
}

/* 
#text{
    border: 1px solid limegreen;
} */

#text .text__style{
    border: 1px solid red;
    color: lime;
    font-size: 12px;
}

/* 
#text .text__style{
    border: 1px solid lime;
    color: red;
    font-size: 12px;
} */

#text .text__style__lorem{
    text-align: center;
}

#pagewrapper .content {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color: limegreen;
}
.secondary{
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    color: mediumblue;
}